mixin sOurEmployees(data)
	// start sOurEmployees
	+b.SECTION.sOurEmployees.section#sOurEmployees&attributes(attributes)
		.container
			+e.content
				.row
					.col-lg
						h2 Наши<br>сотрудники
					.col-lg
						p Реальная сила интернет магазина обоев Golden Decor заключается в&nbsp;качестве обслуживания и&nbsp;в&nbsp;профессионализме сотрудников. Достойный, хороший сервис&nbsp;&mdash; это основа успеха и&nbsp;мы&nbsp;с&nbsp;ответственностью и&nbsp;удовольствием выполняем свои обязанности. Наша работа&nbsp;&mdash; это наше хобби!
						p Специалисты в&nbsp;наших магазинах оказывают квалифицированную помощь в&nbsp;выборе продукции и&nbsp;дают бесплатные консультации по&nbsp;всем интересующим Вас вопросам.
						p Наша команда сотрудников с&nbsp;многолетним опытом и&nbsp;хорошими знаниями сделала нас компанией, которой мы&nbsp;являемся сейчас!
			+pic('sOurEmployees-pic.jpg', 'bg', 0)
	// end sOurEmployees