mixin sStores(data)
	// start sStores
	+b.SECTION.sStores.section#sStores&attributes(attributes)
		.container
			+b.section-title.text-center
				h2!= sStores.title
				p!= sStores.text
			.row
				+e.slider--js.swiper
					.swiper-wrapper
						mixin store-item(i, text)
							+e.slide.swiper-slide
								+e.item
									+pic(`store-bg-${i}.jpg`)
									p!= text
						+store-item(1, 'Магазин Golden Decor в&nbsp;ТК&nbsp;Каширский Двор')
						+store-item(2, 'Магазин Golden Decor в&nbsp;ТЦ&nbsp;Экспострой')
						+store-item(3, 'Магазин Golden Decor в&nbsp;ТЦ&nbsp;Тройка')
						+store-item(1, 'Магазин Golden Decor в&nbsp;ТК&nbsp;Каширский Двор')
						+store-item(2, 'Магазин Golden Decor в&nbsp;ТЦ&nbsp;Экспострой')
						+store-item(3, 'Магазин Golden Decor в&nbsp;ТЦ&nbsp;Тройка')

	// end sStores