// start .sCardProduct
.sCardProduct {
	--sPT: 0;
	--sPB: 0;
	// --sTPB: ;
	&__col-buy {
		order: 2;
		padding-bottom: rem(32);
		@include media-breakpoint-up(xl) {
			padding-bottom: 0;
			padding-top: rem(32);
			padding-right: rem(70);
			border-right: 1px solid rgba($color: #000000, $alpha: 0.1);
		}
		& > button {
			padding: rem(17) rem(12);
			color: $body-color;
			border-color: $body-color;
			border-width: 2px;
			font-weight: 600;
			margin-bottom: rem(40);
		}
		@include media-breakpoint-up(xl) {
			order: unset;
		}
	}
	&__col-product-info {
		order: 1;
		@include media-breakpoint-up(xl) {
			order: unset;
		}
	}
	&__col-catalog {
		order: 3;
		@include media-breakpoint-up(xl) {
			order: unset;
		}
	}
	&__price {
		display: flex;
		margin-bottom: rem(36);
		h2 {
			font-weight: 600;
		}
		a {
			@include mt;
			max-width: rem(98);
			margin-left: auto;
			// font-size: rem(16);
			text-decoration: underline;
			&:hover {
				text-decoration-color: transparent;
			}
		}
	}
	&__contentBtn {
		margin-bottom: rem(16);
		button {
			padding: rem(17) rem(12);
		}
	}
	&__productDesc {
		table {
			width: 100%;
			margin-bottom: rem(30);
			tr {
				&:nth-child(2), &:nth-child(3), &:nth-child(4) {
					td:nth-child(2) {
						text-decoration-line: underline;
					}
				}
				&:last-child {
					td {
						padding-bottom: rem(40);
						border-bottom: 1px solid rgba($color: #05141F, $alpha: 0.1);
					}
				}
			}
			td {
				vertical-align: text-top;
				&:nth-child(1) {
					color: #9BA1A5;
				}
				&:not(:last-child) {
					padding-bottom: rem(16);
				}
			}
		}
	}
	.sCatalog {
		position: relative;
		padding-top: rem(32);
		padding-bottom: rem(44);
		@include media-breakpoint-up(xl) {
			padding-top: rem(96);
			padding-bottom: rem(138);
		}
		&::before {
			content: '';
			position: absolute;
			display: block;
			width: 200em;
			height: 1px;
			background-color: rgba(0, 0, 0, 0.1);
			left: -50em;
			top: 0;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sCardProduct