mixin sForDisignerBody(data)
	// start sForDisignerBody
	+b.SECTION.sForDisignerBody.section.bg-wrap#sForDisignerBody&attributes(attributes)
		+pic('sForDisignerBody-bg.png').picture-bg
		+e.container.container
			+b.section-title.text-center
				h2 Для вас и ваших проектов
			+pic('sForDisignerBody-img-1.png', '', 0)
			ul 
				mixin forDisigner-item(text)
					li: p!=text
				+forDisigner-item('Идеальные условия для каждого (дизайнера, декоратора, архитектора и&nbsp;т.д)')
				+forDisigner-item('Прозрачная программа по&nbsp;карте дизайнера')
				+forDisigner-item('Диванные зоны для работы с&nbsp;клиентом')
				+forDisigner-item('Семинары, презентации и&nbsp;поездки на&nbsp;фабрики')
				+forDisigner-item('Эксклюзивная информация о&nbsp;новинках. Акции и&nbsp;конкурсы, подарки и&nbsp;призы.')
				+forDisigner-item('Возможность персонального консультанта в&nbsp;любом удобном для Вас магазине')
				+forDisigner-item('Идеальные условия для каждого (дизайнера, декоратора, архитектора и&nbsp;т.д)')
				+forDisigner-item('Прозрачная программа по&nbsp;карте дизайнера')
				+forDisigner-item('Диванные зоны для работы с&nbsp;клиентом')
				+forDisigner-item('Семинары, презентации и&nbsp;поездки на&nbsp;фабрики')
				+forDisigner-item('Эксклюзивная информация о&nbsp;новинках. Акции и&nbsp;конкурсы, подарки и&nbsp;призы.')
				+forDisigner-item('Возможность персонального консультанта в&nbsp;любом удобном для Вас магазине')
			a(href="#modal-application").btn.btn-primary.link-modal-custom-js Получить карту дизайнера
	// end sForDisignerBody