mixin sOurStores(data)
	// start sOurStores
	+b.SECTION.sOurStores.section#sOurStores&attributes(attributes)
		.container
			.tab
				+b.section-title
					.row
						.col
							h2 Наши магазины
						.col-auto
								.tab__caption
									.tab__btn.active Списком
									.tab__btn На карте
				.tab__content.active
					table
						tr
							td
								+e.cell
									+icon('map-pin')
									h5 Магазин Golden Decor в ТК Каширский Двор
							td
							td
							td
				.tab__content
					p КАРТА Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis pariatur vitae magnam corrupti ipsa aut possimus consequuntur quidem qui. Doloribus quam eum placeat vel obcaecati, ab in cupiditate! Ad, fugit!

	// end sOurStores