mixin sOurStores(data)
	// start sOurStores
	+b.SECTION.sOurStores.section#sOurStores&attributes(attributes)
		.container
			+b.section-title
				.row
					.col-sm
						h2 Наши магазины
					.col-sm-auto
						+mnu6()
	// end sOurStores