mixin modal-custom-body()
	+b.modal-custom--cabinet&attributes(attributes)
		+b.toggle-menu-mobile--2js.on
			span
		block
mixin modal() 
	//  start modals
	+modal-custom-body()#modal-cabinet
		+e.title Войдите или зарегистрируйтесь на&nbsp;сайте
		.tabs
			.tabs__caption
				.tabs__btn.active Вход
				.tabs__btn Регистрация
			.tabs__wrap
				.tabs__content
					+form-wrap
						+input('Телефон или e-mail', 'text')
						
						.input-btn-wrap
						
							+input('Пароль', 'password')
							+b.input-btn--password-toggle 
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M4 4L20 20" stroke="#05141F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="path-line"/>
									<path d="M16.5 16.756C15.1474 17.4846 13.6186 18 12 18C6.47715 18 2 12 2 12C2 12 4.08842 9.20123 7.17205 7.4267M19.5 14.6337C21.0559 13.2652 22 12 22 12C22 12 17.5228 6 12 6C11.6625 6 11.3289 6.02241 11 6.06448" stroke="#05141F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M13.3229 13.4999C12.9703 13.8111 12.5072 13.9999 12 13.9999C10.8954 13.9999 10 13.1045 10 11.9999C10 11.4604 10.2136 10.9708 10.5609 10.6111" stroke="#05141F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
						.text-end
							a.tdu(href="#") Забыли пароль? 
						+e.BUTTON.btn.btn-primary(type="submit"  ).w-100   Войти
						.text-center.text-secondary.mb-4 или через соцсети
						+b.soc-btns
							+e.btn--vk(type="button") 
								+icon("vk")
								+e.SPAN.btn-text Вконтакте
								
							+e.btn--fb(type="button") 
								+icon("fb-btn")
								+e.SPAN.btn-text Facebook
							+e.btn--ya(type="button") 
								img(src="img/svg/yandex.png", alt="")
								+e.SPAN.btn-text Яндекс

						+policy()
							
				.tabs__content.active
					+form-wrap
						+input('Телефон', 'tel')
						+input('E-mail', 'text')
						
						.input-btn-wrap 
							+input('Пароль', 'password')
							+b.input-btn--password-toggle 
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M4 4L20 20" stroke="#05141F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="path-line"/>
									<path d="M16.5 16.756C15.1474 17.4846 13.6186 18 12 18C6.47715 18 2 12 2 12C2 12 4.08842 9.20123 7.17205 7.4267M19.5 14.6337C21.0559 13.2652 22 12 22 12C22 12 17.5228 6 12 6C11.6625 6 11.3289 6.02241 11 6.06448" stroke="#05141F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M13.3229 13.4999C12.9703 13.8111 12.5072 13.9999 12 13.9999C10.8954 13.9999 10 13.1045 10 11.9999C10 11.4604 10.2136 10.9708 10.5609 10.6111" stroke="#05141F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								
						.input-btn-wrap 
							+input('Повторите пароль', 'password')
							+b.input-btn--password-toggle 
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M4 4L20 20" stroke="#05141F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="path-line"/>
									<path d="M16.5 16.756C15.1474 17.4846 13.6186 18 12 18C6.47715 18 2 12 2 12C2 12 4.08842 9.20123 7.17205 7.4267M19.5 14.6337C21.0559 13.2652 22 12 22 12C22 12 17.5228 6 12 6C11.6625 6 11.3289 6.02241 11 6.06448" stroke="#05141F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M13.3229 13.4999C12.9703 13.8111 12.5072 13.9999 12 13.9999C10.8954 13.9999 10 13.1045 10 11.9999C10 11.4604 10.2136 10.9708 10.5609 10.6111" stroke="#05141F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg> 
						+e.BUTTON.btn.btn-primary(type="submit"  ).w-100 Зарегистрироваться
						.text-center.text-secondary.mb-4 или через соцсети
						+b.soc-btns
							+e.btn--vk(type="button") 
								+icon("vk")
								+e.SPAN.btn-text Вконтакте
								
							+e.btn--fb(type="button") 
								+icon("fb-btn")
								+e.SPAN.btn-text Facebook
							+e.btn--ya(type="button") 
								img(src="img/svg/yandex.png", alt="")
								+e.SPAN.btn-text Яндекс

						+policy()
							
	+modal-custom-body()#modal-call
		+e.title Заказать обратный звонок
		+e.sub-text Оставьте контакты и уточните свой вопрос. Менеджер свяжется с вами 
		+form-wrap
			+input('Телефон', 'tel')
				.invalid-feedback Поле обязательно для заполнения
			+input('E-mail', 'email')
			+input('Ваш комментарий или вопрос (необязательно)', 'textarea','') 
			+policy2()
			+e.BUTTON.btn.btn-primary(type="submit"  ).w-100   Отправить 

	+modal-custom-body()#modal-application
		+e.title Заказать поклейку обоев
		+e.sub-text Наш специалист свяжется с вами, подробно проконсультирует и ответит на ваши вопросы.
		+form-wrap
			+input('Фамилия имя отчество')
			+input('Телефон', 'tel')
				.invalid-feedback Поле обязательно для заполнения
			+input('E-mail', 'email')
			+input('Дата рождения')
			+input('Сопроводительное письмо', 'textarea','')
			p Сканы диплома, сертификатов об&nbsp;образовании. Можно прикрепить несколько файлов в&nbsp;формате jpg, png или pdf, размером не&nbsp;более 20&nbsp;Мб.
			+input('Нажмите чтобы загрузить файлы', 'file','')
			+policy2()
			+e.BUTTON.btn.btn-primary(type="submit"  ).w-100   Отправить 

	+modal-custom-body()#modal-request
		+e.title Заказать поклейку обоев
		+e.sub-text Наш специалист свяжется с вами, подробно проконсультирует и ответит на ваши вопросы.
		+form-wrap
			+input('Ваше имя')
			+input('Телефон', 'tel')
				.invalid-feedback Поле обязательно для заполнения
			+input('E-mail', 'email')
			+input('Ваш комментарий или вопрос (необязательно)', 'textarea','') 
			+policy2()
			+e.BUTTON.btn.btn-primary(type="submit"  ).w-100   Отправить 


	//- +modal-custom-body()#change-email
	//- 	+e.title Изменить email
	//- 	+e.sub-text Введите новый email, на который будет выслано письмо для подтверждения нового адреса.
	//- 	+form-wrap
	//- 		+input('Новый email', 'email')
	//- 		+e.BUTTON.btn.btn-primary(type="submit"  ).w-100   Отправить 


	+modal-custom-body()#modal-test-call
		+b.phone-block
			+e.phone +7 ••• •••  #[span.text-primary XX XX]
			+e.text Звонок от Golden Decor
		+e.title Звонок-сброс
		+e.sub-text Для подтверждения регистрации мы совершим бесплатный звонок-сброс с уникального номера на&nbsp;#[span.text-primary.d-inline-block +7 987 654-32-10]
		+form-wrap
			+input('Введите последние 4 цифры', 'text').number-js 
			+e.BUTTON.btn.btn-primary(type="submit").w-100   Отправить 

	//- a(href="#model-editm-email").link-modal-js modal-call 
	//- Email
	div(id="modal-edit-email" style="display: none" )
		+b.modal-win
			+e.title.form-data.h2 Изменить email
			+e.P.after-headline Введите новый email, на&nbsp;который будет выслано письмо для подтверждения нового адреса.
			+form-wrap
				+input('Новый email', 'email')
				+e.btn.btn-primary.link-modal-js(type="submit" href='#modal-confirm-email').w-100 Далее

	div(id="modal-confirm-email"  style="display: none" )
		+b.modal-win
			+e.title.form-data.h2 Изменить email
			+e.P.after-headline На&nbsp;email goldendecor@inbox.ru отправлено письмо для подтверждения нового адреса. Если письма не&nbsp;видно, проверьте папку &laquo;Спам&raquo;.
			+e.BUTTON.btn.btn-primary.w-100 Хорошо
	// #modal-call
	
	// end modals

	+modal-custom-body()#chose-color
		+e.title Выберите цвет
		+b.search-block
			form
				input(type="text" placeholder="Поиск товаров")
				button
					+icon("search")
		+e.chose 
			p Выбор по семейству цветов
			+e.content
				+in-c("radio", '')(checked name='color')
					+e.color(style=" --color: linear-gradient(90deg, #EE5858 0%, #F0E8A2 19.79%, #B1E8A9 39.06%, #41DDFF 58.33%, #BD65DC 80.21%, #E24A9C 100%);")
				+in-c("radio", '')(name='color')
					+e.color(style=" --color: #FF7A72")
				+in-c("radio", '')(name='color')
					+e.color(style=" --color: #FFE872")
				+in-c("radio", '')(name='color')
					+e.color(style=" --color: #86D080")
				+in-c("radio", '')(name='color')
					+e.color(style=" --color: #9DB7D6")
				+in-c("radio", '')(name='color')
					+e.color(style=" --color: #E7E7E7")
		+e.content
			+e.row.row
				.col-6
					+in-c("radio", '')(name='color-list' style="--color: #FFDB61")
						p Honey Pot SL-0977
				.col-6
					+in-c("radio", '')(name='color-list' style="--color: #FFC16A")
						p Honey Pot SL-0977
				.col-6
					+in-c("radio", '')(name='color-list' style="--color: #FFCF9E ")
						p Honey Pot SL-0977
				.col-6
					+in-c("radio", '')(name='color-list' style="--color: #FFBA82")
						p Honey Pot SL-0977
				.col-6
					+in-c("radio", '')(name='color-list' style="--color: #FFB529")
						p Honey Pot SL-0977
				.col-6
					+in-c("radio", '')(name='color-list' style="--color: #FEE8AE")
						p Honey Pot SL-0977
				.col-6
					+in-c("radio", '')(name='color-list' style="--color: #F9E6CA")
						p Honey Pot SL-0977
				.col-6
					+in-c("radio", '')(name='color-list' style="--color: #F9E6C1")
						p Honey Pot SL-0977
				.col-6
					+in-c("radio", '')(name='color-list' style="--color: #F9E6C1")
						p Honey Pot SL-0977
				.col-6
					+in-c("radio", '')(name='color-list' style="--color: #F9BC9F")
						p Honey Pot SL-0977
				.col-6
					+in-c("radio", '')(name='color-list' style="--color: #F9AD88")
						p Honey Pot SL-0977
				.col-6
					+in-c("radio", '')(name='color-list' style="--color: #F2D6DC")
						p Honey Pot SL-0977
				.col-6
					+in-c("radio", '')(name='color-list' style="--color: #F2D6DC")
						p Honey Pot SL-0977
				.col-6
					+in-c("radio", '')(name='color-list' style="--color: #F6F3EC")
						p Honey Pot SL-0977
				.col-6
					+in-c("radio", '')(name='color-list' style="--color: #F5DDCC")
						p Honey Pot SL-0977
				.col-6
					+in-c("radio", '')(name='color-list' style="--color: #BEEFDD")
						p Honey Pot SL-0977
				.col-6
					+in-c("radio", '')(name='color-list' style="--color: #A9DAA8")
						p Honey Pot SL-0977
				.col-6
					+in-c("radio", '')(name='color-list' style="--color: #F4D8C7")
						p Honey Pot SL-0977
				.col-6
					+in-c("radio", '')(name='color-list' style="--color: #F2D1CE")
						p Honey Pot SL-0977
				.col-6
					+in-c("radio", '')(name='color-list' style="--color: #B3C2DF")
						p Honey Pot SL-0977
				.col-6
					+in-c("radio", '')(name='color-list' style="--color: #B3C2DF")
						p Honey Pot SL-0977
				.col-6
					+in-c("radio", '')(name='color-list' style="--color: #F2D1CE")
						p Honey Pot SL-0977
				.col-6
					+in-c("radio", '')(name='color-list' style="--color: #B3C2DF")
						p Honey Pot SL-0977
				.col-6
					+in-c("radio", '')(name='color-list' style="--color: #B3C2DF")
						p Honey Pot SL-0977
				.col-6
					+in-c("radio", '')(name='color-list' style="--color: #F2D1CE")
						p Honey Pot SL-0977
				.col-6
					+in-c("radio", '')(name='color-list' style="--color: #B3C2DF")
						p Honey Pot SL-0977
				.col-6
					+in-c("radio", '')(name='color-list' style="--color: #B3C2DF")
						p Honey Pot SL-0977