:root {
	--fancybox-content-bg: none;
}

.fancybox__content {
	padding: 0;
	max-width: 100%;
	.is-close {
		top: 16px !important;
		right: 16px !important;
		color: rgba($color: #14181F, $alpha: 0.5) !important;
		box-shadow: none !important;
		svg {
			width: 24px;
			height: 24px;
		}
	}
}
.modal-win {

	// display: block;
	background-color: #fff;
	max-width: 100%;
	position: relative;
	width: rem(1500);
	// min-height: 100%; 
	padding: 40px;
	@include media-breakpoint-up(lg) {
		padding: rem(80) rem(80) rem(80) rem(130);
	}
	.modal-content {
		// max-width: 485px;
		// padding-right: 40px 15px;
	}

	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}
	&__title {
		color: $body-color;
		font-weight: 600;
		margin-bottom: rem(32);
	}
	&__after-headline {
		color: $secondary;
		margin-bottom: rem(30);
	}
	.form-wrap {
		&__input-wrap {
			max-width: rem(384);
			margin-bottom: rem(40);
		}
		button {
			max-width: rem(226);
			margin-top: 0;
		}
	}
	&__btn {
		max-width: rem(226);
		margin-top: 0;
		padding: rem(16) 0;
	}
}

a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

#foot-dialog {
	h3 {
		font-size: em(36);
	}
}

.mfp-close {
	user-select: none; // width: 44px;
	// height: 44px;
	// line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: .65; // padding: 0 0 18px 10px;
	// color: #fff;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 56px;
	height: 56px; // box-shadow: 0 10px $h2-font-size rgba(0, 0, 0, 0.15);
	// background-color: #fff;
	border-radius: 50%;
	line-height: 56px;
	text-align: center;
	margin-top: -5px;
	margin-right: -5px;
	@include mt;

	&:hover {
		// background-color: #e3f3f6;
	}
}

@include media-breakpoint-up(sm) {
	.modal-text {
		max-width: 1000px;
	}
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;

		:hover {
			display: none;
		}
	}
}


// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {

	.fancybox__container {
		width: 100% !important;
		min-height: 100%; 
		transform: none !important;
		z-index: 100000;
	}
}




.modal-custom{

	.toggle-menu-mobile {
		&:not(:hover) {
			opacity: 0.5;
		}
	}
	background: #FFFFFF;
	width: 512px;
	max-width: 100%;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1301;
	@include media-breakpoint-up(sm) {
		padding: calc(20px + 1.5vh) 56px;
	}
	padding: calc(20px + 1.5vh) 24px;
	overflow-y: auto;
	@include mt;
	opacity: 0;
	transform: translateX(var(--pos, 100%));
	&.active{
		opacity: 1;
		--pos:0;
	}
	&__title{
		@include rfs(40px);
		line-height: calc(48 / 40);
		font-weight: 600;
		margin-bottom: 20px;
	}
	&__sub-text{
		color: rgba(#05141F, .5); 
		// opacity: 0.5;
		margin-bottom: 24px;
	}
	.toggle-menu-mobile{
		right: 16px;
		top: 16px;
		position: absolute;
	}

	.tabs {
		&__caption{
			margin-bottom: 24px;
		}
	}

	p {
		color: rgba($color: $body-color, $alpha: 0.5);
		margin-bottom: 0;
	}
}




.phone-block{
	color: #cdd0d2;
	border: 2px solid ;
	border-bottom: none;
	border-radius: 30px 30px 0 0 ;
	max-width: 294px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 24px;
	text-align: center;
	padding-top: 43px;
	padding-bottom: 30px;
	font-size: 16px;
	&__phone{
		font-size: 24px;
		margin-bottom: 20px;
		line-height: 1;
	}
}

.search-block {
	@include media-breakpoint-down(md) {
		margin-left: 0;
		&:before {
			content: unset;
		}
	}
	input {
		border-radius: 0;
		background-color: #F8F8F8 !important;
	}
	button {
		.icon {
			font-size: rem(24);
		}
	}
}

.modal-custom {
	&__row {
		--bs-gutter-x: #{rem(16)};
		--bs-gutter-y: #{rem(16)};
		width: 100%;
		.custom-input {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: rem(45.5) rem(10) !important;
			&__input {
				background-color: var(--color, #CDD0D2) !important;
				border-color: transparent;
				z-index: -1;
			}
		}
	}
	&__chose {
		p {
			color: #9BA1A5;
			margin-bottom: rem(15);
		}
	}
	// --color-g: linear-gradient(90deg, #EE5858 0%, #F0E8A2 19.79%, #B1E8A9 39.06%, #41DDFF 58.33%, #BD65DC 80.21%, #E24A9C 100%);
	// --color: ;
	&__content {
		display: flex;
		flex-wrap: wrap;
		gap: 9px;
		margin-bottom: rem(24);
		.custom-input {
			cursor: pointer;
			margin-bottom: 0;
			padding: 0;
			position: relative;
			text-align: center;
			&__input {
				background-color: transparent;
				border-radius: 0;
				cursor: pointer;
				height: 100%;
				left: 0;
				margin-left: 0;
				position: absolute;
				top: 0;
				width: 100%;
				&:checked {
					background-color: transparent;
					background-image: none;
					border-color: #05141f;
					border-radius: 0;
					height: 100%;
					width: 100%;
					border-width: 2px;
					& + p {
						font-weight: 600;
					}
				}
			}
			&__color {
				border: 1px solid #CDD0D2;
				width: rem(56);
				height: rem(56);
				background: var(--color, #CDD0D2);
				display: block;
			}
			p {
				color: #000;
			}
		}
	}
}