// start .sTextileProjects
.sTextileProjects {
		--sPT: #{rem(100px)};
		--sPB: #{rem(100px)};
		--sTPB: #{rem(32px)};
	background-color: #F8F8F8;
	.row {
		--bs-gutter-x: #{rem(32)};
		--bs-gutter-y: #{rem(32)};
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sTextileProjects