mixin sVacancies(data)
	// start sVacancies
	+b.sVacancies.section#sVacancies&attributes(attributes)
		.container
			+b.dd-group.dd-group-js
				+b.accordion-item
					+e.head.dd-head-js
						+e.icon-wrap
							+icon('chevron-accordion')
						.row
							.col-sm-auto
								h4 Директор магазина
							.col-auto
								span от&nbsp;150&nbsp;000&nbsp;₽
					+e.content.dd-content-js
						p В&nbsp;связи с&nbsp;открытием новых магазинов, а&nbsp;также ростом сотрудников внутри компании, мы&nbsp;ищем Менеджеров по&nbsp;продажам в&nbsp;наш дружный коллектив.
						h5 Что мы&nbsp;можем предложить:
						ul
							li Работа в&nbsp;премиальном сегменте;
							li Оформление по&nbsp;ТК&nbsp;РФ (Отпуска, больничные и&nbsp;тд);
							li Оплачиваемый период обучения (вы&nbsp;получите полный оклад&nbsp;&mdash; те&nbsp;40.000) и&nbsp;наставник, который научит ассортименту, ответит на&nbsp;возникающие вопросы и&nbsp;поможет быстро влиться в&nbsp;коллектив;
							li После прохождения обучения: Оклад&nbsp;40.000 + процент от&nbsp;продаж (общий по&nbsp;результатам работы магазина) + бонусы и&nbsp;премии от&nbsp;личных продаж; Верхний порог заработной платы не&nbsp;ограничен;
							li Отсутствие плана по&nbsp;личным продажам;
							li График 5\2 (выходные в&nbsp;будни), 2/2 либо 3\3;
							li Гибкое начало рабочего дня;
							li Если со&nbsp;временем&nbsp;Вы захотите перейти в&nbsp;офис&nbsp;&mdash; мы&nbsp;готовы помочь сменить деятельность и&nbsp;расти внутри компании;
							li Если Вы&nbsp;хотите внедрить что- то&nbsp;новое для улучшения работы и&nbsp;повышения уровня дохода&nbsp;&mdash; мы&nbsp;готовы реализовать Ваши идеи (помочь с&nbsp;оплатой обучения, приобретением рабочих программ и&nbsp;тд);
						+e.btn.btn.btn-primary(href="#") Откликнуться
				+b.accordion-item
					+e.head.dd-head-js
						+e.icon-wrap
							+icon('chevron-accordion')
						.row
							.col-sm-auto
								h4 Менеджер по&nbsp;продажам
							.col-auto
								span от&nbsp;40&nbsp;000&nbsp;₽
					+e.content.dd-content-js
						p В&nbsp;связи с&nbsp;открытием новых магазинов, а&nbsp;также ростом сотрудников внутри компании, мы&nbsp;ищем Менеджеров по&nbsp;продажам в&nbsp;наш дружный коллектив.
						h5 Что мы&nbsp;можем предложить:
						ul
							li Работа в&nbsp;премиальном сегменте;
							li Оформление по&nbsp;ТК&nbsp;РФ (Отпуска, больничные и&nbsp;тд);
							li Оплачиваемый период обучения (вы&nbsp;получите полный оклад&nbsp;&mdash; те&nbsp;40.000) и&nbsp;наставник, который научит ассортименту, ответит на&nbsp;возникающие вопросы и&nbsp;поможет быстро влиться в&nbsp;коллектив;
							li После прохождения обучения: Оклад&nbsp;40.000 + процент от&nbsp;продаж (общий по&nbsp;результатам работы магазина) + бонусы и&nbsp;премии от&nbsp;личных продаж; Верхний порог заработной платы не&nbsp;ограничен;
							li Отсутствие плана по&nbsp;личным продажам;
							li График 5\2 (выходные в&nbsp;будни), 2/2 либо 3\3;
							li Гибкое начало рабочего дня;
							li Если со&nbsp;временем&nbsp;Вы захотите перейти в&nbsp;офис&nbsp;&mdash; мы&nbsp;готовы помочь сменить деятельность и&nbsp;расти внутри компании;
							li Если Вы&nbsp;хотите внедрить что- то&nbsp;новое для улучшения работы и&nbsp;повышения уровня дохода&nbsp;&mdash; мы&nbsp;готовы реализовать Ваши идеи (помочь с&nbsp;оплатой обучения, приобретением рабочих программ и&nbsp;тд);
						+e.btn.btn.btn-primary(href="#") Откликнуться
				+b.accordion-item
					+e.head.dd-head-js
						+e.icon-wrap
							+icon('chevron-accordion')
						.row
							.col-sm-auto
								h4 Системный администратор
							.col-auto
								span от&nbsp;150&nbsp;000&nbsp;₽
					+e.content.dd-content-js
						p В&nbsp;связи с&nbsp;открытием новых магазинов, а&nbsp;также ростом сотрудников внутри компании, мы&nbsp;ищем Менеджеров по&nbsp;продажам в&nbsp;наш дружный коллектив.
						h5 Что мы&nbsp;можем предложить:
						ul
							li Работа в&nbsp;премиальном сегменте;
							li Оформление по&nbsp;ТК&nbsp;РФ (Отпуска, больничные и&nbsp;тд);
							li Оплачиваемый период обучения (вы&nbsp;получите полный оклад&nbsp;&mdash; те&nbsp;40.000) и&nbsp;наставник, который научит ассортименту, ответит на&nbsp;возникающие вопросы и&nbsp;поможет быстро влиться в&nbsp;коллектив;
							li После прохождения обучения: Оклад&nbsp;40.000 + процент от&nbsp;продаж (общий по&nbsp;результатам работы магазина) + бонусы и&nbsp;премии от&nbsp;личных продаж; Верхний порог заработной платы не&nbsp;ограничен;
							li Отсутствие плана по&nbsp;личным продажам;
							li График 5\2 (выходные в&nbsp;будни), 2/2 либо 3\3;
							li Гибкое начало рабочего дня;
							li Если со&nbsp;временем&nbsp;Вы захотите перейти в&nbsp;офис&nbsp;&mdash; мы&nbsp;готовы помочь сменить деятельность и&nbsp;расти внутри компании;
							li Если Вы&nbsp;хотите внедрить что- то&nbsp;новое для улучшения работы и&nbsp;повышения уровня дохода&nbsp;&mdash; мы&nbsp;готовы реализовать Ваши идеи (помочь с&nbsp;оплатой обучения, приобретением рабочих программ и&nbsp;тд);
						+e.btn.btn.btn-primary(href="#") Откликнуться


	// end sVacancies