mixin sPayment(data)
	// start sPayment
	+b.SECTION.sPayment.section#sPayment&attributes(attributes)
		.container
			+e.wrap
				+b.section-title
					h2 Оплата
					p Доставка осуществляется в&nbsp;течение 1,5-2 часов после оплаты. При получении товара у&nbsp;представителя юридического лица должна быть доверенность с&nbsp;печатью от&nbsp;компании-плательщика или сама печать. Частные покупатели для получения товара должны предъявить квитанцию с&nbsp;отметкой Сбербанка об&nbsp;оплате или паспорт владельца карты, если оплата произведена по&nbsp;банковской карте
				+e.row.row
					.col-sm-6
						+choiceOption('Онлайн на сайте*', 'МИР, Visa, MasterCard, Maestro, GooglePay, ApplePay')(disabled)
					.col-sm-6
						+choiceOption('Наличными', 'Курьеру / При самовывозе (только для Москвы и МО)')(disabled)
					.col-sm-6
						+choiceOption('Безналичным платежом', 'Для физических лиц и для организаций')(disabled)
					.col-sm-6
						+choiceOption('Банковской картой', 'Курьеру / При самовывозе (только для Москвы и МО)')(disabled)
				p Курьер может ожидать вас по&nbsp;адресу не&nbsp;более 15&nbsp;минут, после этого он будет вынужден продолжить маршрут. Повторный приезд курьера возможен за&nbsp;дополнительную оплату 250&nbsp;рублей. В&nbsp;повторном приезде курьера может быть отказано в&nbsp;случае неблагоприятной дорожной обстановки.
	// end sPayment