mixin sShippingAndPayment(data)
	// start sShippingAndPayment
	+b.SECTION.sShippingAndPayment.section#sShippingAndPayment&attributes(attributes)
		.container
			+b.section-title
				h2 Доставка
				p Доставка осуществляется в&nbsp;течение 1,5-2 часов после оплаты. При получении товара у&nbsp;представителя юридического лица должна быть доверенность с&nbsp;печатью от&nbsp;компании-плательщика или сама печать. Частные покупатели для получения товара должны предъявить квитанцию с&nbsp;отметкой Сбербанка об оплате или паспорт владельца карты, если оплата произведена по&nbsp;банковской карте. 
				p Курьер может ожидать вас по&nbsp;адресу не&nbsp;более 15&nbsp;минут, после этого он&nbsp;будет вынужден продолжить маршрут. Повторный приезд курьера возможен за&nbsp;дополнительную оплату 250&nbsp;рублей. В&nbsp;повторном приезде курьера может быть отказано в&nbsp;случае неблагоприятной дорожной обстановки.
				+e.P.indent
				h2 Самовывоз
				p Мы&nbsp;понимаем, как для вас важно легко и&nbsp;быстро получить заказ. Именно поэтому мы&nbsp;предлагаем удобные места получения заказа:
				ul 
					li: p В&nbsp;пункте выдачи, расположенных в&nbsp;центре Москвы;
					li: p Заказы, оформленные с&nbsp;использованием миль &laquo;Тинькофф Мили&raquo; можно получить только в&nbsp;пункте выдачи, находящемся по&nbsp;адресу: Салмышская&nbsp;ул., д .58/2, в&nbsp;г. Оренбурге.
	// end sShippingAndPayment