mixin sMyOrders(data)
	// start sMyOrders
	+b.sMyOrders#sMyOrders&attributes(attributes)
		h4 Мои заказы
		+e.body
			+e.table-wrap
				table
					thead
						tr
							th Дата/время заказа:
							th Наименование заказа:
							th Сумма:
							th Статус заказа:
					tbody
						mixin line(td1, td2, td3, td4)
							tr
								td!= td1
									div
								td!= td2
								td!= td3
								td!= td4
						+line('16.12.2022 23:19', 'Заказ #16102022-142304', '6&nbsp;750&nbsp;₽', 'В&nbsp;обработке')
						+line('02.12.2022 12:07', 'Заказ #16102022-560780', '12&nbsp;900&nbsp;₽', 'Доставлен')
						+line('24.11.2022 17:58', 'Заказ #45469065-140234', '45&nbsp;200&nbsp;₽', 'Отменен')
						+line('18.11.2022 14:02', 'Заказ #45209900-140200', '24&nbsp;306&nbsp;₽', 'Доставлен')
						+line('16.10.2022 10:34', 'Заказ #24105120-560224', '5&nbsp;980&nbsp;₽', 'Отменен')
						+line('12.10.2022 14:45', 'Заказ #16152055-140564', '9&nbsp;845&nbsp;₽', 'Доставлен')
						+line('24.09.2022 22:02', 'Заказ #12102020-888903', '6&nbsp;680&nbsp;₽', 'Отменен')
	// end sMyOrders