// start .headerBlock
.headerBlock {
	margin-bottom: 1px; 
	overflow: hidden;
	@include media-breakpoint-up(sm) {

		--sPT: 19px;
	}
	--sPT: 0;
	--sPB: 23px;
	@include media-breakpoint-down(sm) {
		.container{
			padding-left: 0;
			padding-right: 0;
		}
	}
	&__container {
		position: relative;
	}
	.head-logo{
		@include media-breakpoint-down(sm) {
			img{
				height: auto;
				max-width: 57px;
			}
		}
		@include media-breakpoint-up(sm) {

			position: absolute;
			right: 29px;
			top: rem(33);
		}
		margin-bottom: 25px;
	}
	.picture-bg img{
		object-position: top;
	}
	color: #fff;
	&__btn{
		@extend .btn, .btn-primary;
	}
	&__slide{
		@include media-breakpoint-up(sm) {

			padding: rem(48) rem(96);
			min-height: 421px;
		}
		height: auto;
	}
	&__label{
		font-weight: 600;
		font-size: 11px;
		line-height: calc(16 /11);
		/* identical to box height, or 145% */
		margin-bottom: rem(22);
		letter-spacing: 0.17em;
		text-transform: uppercase;

		/* White */

		color: #FFFFFF;

	}
	.h1{
		line-height: 1;
		margin-bottom: rem(25);
		@include media-breakpoint-down(sm) {
		
			// margin-left: auto;
			// margin-right: auto;
			// max-width: 270px;
			// margin-bottom: 20px;
		}
	}
	@include media-breakpoint-up(sm) {

		&__caption{
			// max-width: 453px;
		}
	}
	p{
		max-width: 290px;
		margin-bottom: rem(32);
	}
	&__btn{
		height: rem(60px);
		width: rem(190px);
		display: inline-flex;
		justify-content: center;
		align-items: center;

	}
	&__slider{
		// overflow: visible;
		max-width: 1283px;
		// &::before,
		// &::after{
		// 	z-index: 2;
		// 	content: '';
		// 	background-color: $body-bg;
		// 	height: 102%;
		// 	top: 0;
		// 	position: absolute;
		// 	width: 100vw;
		// }
		// &::before{
		// 	left: 100%;
		// }
		// &::after{
		// 	right: 100%;
		// }
	}

	.swiper-pagination{
		margin-top: -34px;
		padding-bottom: 10px;
		margin-bottom: 0;
		&-bullet{

			position: relative;
			z-index: 4;
		}
	}

	.swiper-button-hand {
		&-prev {
			left: -10px;
		}
		&-next {
			right: -10px;
		}
	}

	@include media-breakpoint-down(sm) {
		&__head{
			position: relative;
		}
		&__head{
			padding: 26px 15px;
		}
		&__body{
			padding: 16px 15px 72px;
			background: #F8F8F8;
			p{
				margin-left: auto;
				margin-right: auto;
			}
			// @include media-breakpoint-up(sm) {
				color: $body-color;
			// }

		}
	}

	&__text-wrap {
		// @include media-breakpoint-down(md) {
		// 	text-align: left;
		// 	padding: rem(32) rem(24);
		// 	.h1 {
		// 		margin-left: unset !important;
		// 	}
		// }
		position: absolute;
		left: 24px;
		top: 32px;
		text-align: left;
		@include media-breakpoint-up(lg) {
			left: 94px;
			top: 72px;
		}
		.h1 {
			@include rfs(56px);
			margin-bottom: rem(24);
		}
		p {
			@include rfs(16px);
			margin-bottom: rem(46);
		}
	}
	@include media-breakpoint-down(md) {
		.slider-bg {
			// background-color: #566169;
			img {
				// opacity: .5;
				object-position: bottom;
			}
		}
	}
	&__new-slide {
		// position: relative;
		@include block(1280, 420);
		--ratio: 513/375;
		@include media-breakpoint-up(xxl) {
			--ratio: 420/1280;
		}
		@include media-breakpoint-up(xl) {
			--ratio: 488/1280;
		}
		@include media-breakpoint-up(lg) {
			--ratio: 587/1280;
		}
		@include media-breakpoint-up(md) {
			--ratio: 338/375;
		}
	}
	&__caption--2 {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		.h1 {
			@include media-breakpoint-down(sm) {
				margin-left: unset;
				margin-right: unset;
			}
		}
		.headerBlock__text-wrap {
			// max-width: rem(437);
			@include media-breakpoint-down(lg) {
				height: 100%;
				width: 100%;
			}
		}
		.headerBlock__btn {
			@include media-breakpoint-down(lg) {
				position: absolute;
				left: -24px;
				top: -32px;
				width: 100%;
				height: 100%;
				opacity: 0;
			}
		}
		.picture-bg {
			img {
				@include media-breakpoint-between(md, lg) {
					object-position: 11%;
				}
			}
		}
	}

	&--textile {
		.headerBlock__slide {
			padding: rem(60) rem(80);
			background-color: $body-color;
		}
		.picture-bg {
			opacity: .9;
		}
		.headerBlock__caption {
			max-width: 500px;
		}
		.headerBlock__btn {
			width: auto;
			font-weight: 600;
			@include mt;
			&:hover {
				.icon-metering {
					color: $white;
				}
			}
		}
		.icon-metering {
			width: 24px;
			height: 24px;
			margin-right: 10px;
			color: $warning;
			@include mt;
		}
		.swiper-pagination-bullet-active, .swiper-pagination-bullet:hover {
			background-color: $warning;
			border-color: $warning;
			opacity: 1;
	}
	}

	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {
		
	}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}

 
	@include media-breakpoint-down(sm) {
		text-align: center;
	}

	@include media-breakpoint-down(xs) {}

}

// end.headerBlock