// start .headerBlock
.headerBlock {
	margin-bottom: 1px; 
	@include media-breakpoint-up(sm) {

		--sPT: 19px;
	}
	--sPT: 0;
	--sPB: 23px;
	@include media-breakpoint-down(sm) {
		.container{
			padding-left: 0;
			padding-right: 0;
		}
	}
	.head-logo{
		@include media-breakpoint-up(sm) {

			position: absolute;
			right: 29px;
			top: rem(33);
		}
		margin-bottom: 25px;
	}
	.picture-bg img{
		object-position: top;
	}
	color: #fff;
	&__btn{
		@extend .btn, .btn-primary;
	}
	&__slide{
		@include media-breakpoint-up(sm) {

			padding: rem(48) rem(96);
			min-height: 421px;
		}
		height: auto;
	}
	&__label{
		font-weight: 600;
		font-size: 11px;
		line-height: calc(16 /11);
		/* identical to box height, or 145% */
		margin-bottom: rem(22);
		letter-spacing: 0.17em;
		text-transform: uppercase;

		/* White */

		color: #FFFFFF;

	}
	.h1{
		line-height: 1;
		margin-bottom: rem(25);
		@include media-breakpoint-down(sm) {
		
			margin-left: auto;
			margin-right: auto;
			max-width: 270px;
			// margin-bottom: 20px;
		}
	}
	@include media-breakpoint-up(sm) {

		&__caption{
			max-width: 453px;
		}
	}
	p{
		max-width: 290px;
		margin-bottom: rem(32);
	}
	&__btn{
		height: rem(60px);
		width: rem(190px);
		display: inline-flex;
		justify-content: center;
		align-items: center;

	}
	&__slider{
		overflow: visible;
		max-width: 1283px;
		&::before,
		&::after{
			z-index: 2;
			content: '';
			background-color: $body-bg;
			height: 100%;
			top: 0;
			position: absolute;
			width: 100vw;
		}
		&::before{
			left: 100%;
		}
		&::after{
			right: 100%;
		}
	}

	.swiper-pagination{
		margin-top: -34px;
		padding-bottom: 10px;
		margin-bottom: 0;
		&-bullet{

			position: relative;
			z-index: 4;
		}
	}
	@include media-breakpoint-down(sm) {
		&__head{
			position: relative;
		}
		&__head{
			padding: 26px 15px;
		}
		&__body{
			padding: 16px 15px 72px;
			background: #F8F8F8;
			p{
				margin-left: auto;
				margin-right: auto;
			}
			// @include media-breakpoint-up(sm) {
				color: $body-color;
			// }

		}
	}
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {
		
	}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}

 
	@include media-breakpoint-down(sm) {
		text-align: center;
	}

	@include media-breakpoint-down(xs) {}

}

// end.headerBlock