mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		+e.container.container
			+e.slider--js.swiper
				.swiper-wrapper
					- for (var x = 0; x < 3; x++)
						+e.slide.swiper-slide.bg-wrap
							+e.caption
								+e.head
									+pic('head-img.jpg','bg').picture-bg
									+e.label Новинка
									.h1 Коллекция Amazonia
									+pic('head-logo.png').head-logo
								+e.body
									p Дизайны коллекции обоев Amazonia пронизаны философией гармонии.
									+e.btn(href="#") Подробнее
					+e.new-slide.swiper-slide.bg-wrap
						+e.caption--2
							//- +pic('head-img-2.jpg', 'bg', '992px').picture-bg.slider-bg
							picture.picture-bg.slider-bg
								source(srcset='img/@2x/head-img-2.jpg' media='(min-width: 992px)')
								img(src='img/@2x/head-img-2-sm.jpg' alt='' loading="lazy").object-fit-js
							+e.text-wrap
								.h1 Скидка 20% на поклейку обоев
								p при покупке любых обоев в магазинах GoldenDecor  и интернет магазине
								+e.btn(href="#") Подробнее
			.d-none.d-lg-block
				+arrow
			.swiper-pagination
	// end headerBlock

mixin headerBlockTextile()
	// start headerBlock
	+b.headerBlock.--textile.section#headerBlock&attributes(attributes)
		+e.container.container
			+e.slider--js.swiper
				.swiper-wrapper
					- for (var x = 0; x < 3; x++)
						+e.slide.swiper-slide.bg-wrap
							+e.caption
								+e.head
									+pic('head-img-3.jpg','bg').picture-bg
									.h1 Текстильный декор для дома
								+e.body
									p Стильный дизайн, высокое качество, лояльные цены!
									+e.btn.link-modal-custom-js(href="#modal-call")
										+icon('metering')
										| Оставить заявку на замер
				.swiper-pagination
	// end headerBlock