mixin sUserInfo(data)
	// start sUserInfo
	+b.sUserInfo#sUserInfo&attributes(attributes)
		+e.wrap
			h4 Персональные данные
			+form-wrap()
				.row
					.col-sm-6
						+input('Имя' ,"text")
					.col-sm-6
						+input('Фамилия' ,"text")
					.col-sm-6
						+input('Отчество' ,"text")
					.col-sm-6
						+input('Дата рождения' ,"text")
					.col-sm-6
						+input('Пол', "select")
					.col-12
						button.btn.btn-primary Сохранить изменения
		+e.wrap
			h4 Контактные данные
			.row
				.col-sm
					+e.changeInfo
						+e.changeInfo-wrap
							p Email
							p goldendecor@gmail.com
						a(href="#modal-edit-email").link-modal-js
							+icon('edit-pencil')
					p Пожалуйста, подтвердите новый email. Код активации отправлен на alexandr_ma@bk.ru. Если письма не видно, проверьте папку «Спам».
				.col-sm
					+e.changeInfo
						+e.changeInfo-wrap
							p Номер телефона
							p +7 (987) 654-32-10
						a(href="#modal-edit-email").link-modal-js
							+icon('edit-pencil')
		+e.wrap
			h4 Настройки безопасности
			.row
				.col-sm
					+e.changeInfo
						+e.changeInfo-wrap
							p Пароль
							p &bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;
						a(href="#modal-edit-email").link-modal-js
							+icon('edit-pencil')
		+e.wrap--footer
			a(href="#") Согласие на&nbsp;обработку персональных данных
			button.btn.btn-outline-secondary Удалить кабинет
	// end sUserInfo
	