// start .sGoods
.sGoods {
	--sPT: 0;
	--sPB: 0;
	// --sTPB: ;
	&__row {
		@include media-breakpoint-up(lg) {
			--bs-gutter-x: 0;
		}
	}
	&__col-filter {
		padding-top: rem(24);
		position: relative;
		// padding-right: 0;
		// position: relative;
		@include media-breakpoint-up(lg) {
			border-right: 1px solid rgba(0, 0, 0, 0.1);
			padding-top: rem(32);
			padding-right: rem(30);
			display: flex;
    	flex-direction: column;
			max-width: rem(291);
		}
	}
	&__col-catalog {
		padding-top: rem(24);
		padding-bottom: rem(19);
		// padding-left: 0;
		@include media-breakpoint-up(lg) {
			padding-left: rem(40);
			padding-top: rem(32);
			padding-bottom: rem(83);
		}
		.row {
			--bs-gutter-x: #{rem(32)};
			--bs-gutter-y: #{rem(43)};
		}
		& > button {
			color: $body-color;
			border-color: $body-color;
			border-width: 2px;
			padding: rem(16);
			margin-top: rem(24);
			@include media-breakpoint-up(lg) {
				margin-top: rem(64);
			}
		}
	}
	&__sort-row {
		--bs-gutter-y: #{rem(24)} !important;
		margin-bottom: rem(16);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(24);
		}
	} 
	&__sort {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: rem(24);
	}
	&__sorting {
		.form-wrap {
			&__input-wrap {
				padding-top: 0;
				margin-bottom: 0;
			}
			&__input {
				box-shadow: none !important;
				border: none;
				// font-size: rem(16);
				padding: 0 rem(24) 0 0;
				@include media-breakpoint-down(sm) {
					padding: rem(8) rem(24) rem(8) rem(16);
					border: 1px solid #CDD0D2;
					font-size: 16px;
					line-height: 1.5;
					background-position: 95%;
				}
			}
		}
	}
	&__good-num {
		display: flex;
		span {
			&:first-child {
				opacity: 0.5;
				margin-right: rem(4);
			}
		}
	}
	&__row-filter {
		display: none;
		--bs-gutter-x: #{rem(16)} !important;
		margin-bottom: rem(24);
		@include media-breakpoint-up(md) {
			display: flex;
		}
	}
	&__filterOption {
		padding: rem(3) rem(8) rem(3) rem(12);
		background-color: #F8F8F8;
		border: 1px solid #E5E5E5;
		border-radius: 4px;
		span {
			font-size: rem(14);
			line-height: 1.43em;
			margin-right: rem(4);
		}
		button {
			display: inline-block;
			position: relative;
			width: 14px;
			height: 14px;
			padding: 0;
			background-color: transparent;
			border: none;
			vertical-align: super;
			&:after, &:before {
				@include mt;
				content: '';
				position: absolute;
				display: block;
				top: 50%;
				width: 100%;
				height: 2px;
				background-color: rgba($color: #05141F, $alpha: 0.5);
				&:hover {
					background-color: $secondary;
				}
			}
			&:after {
				transform: translateY(-50%) rotate(-45deg);
			}
			&:before {
				transform: translateY(-50%) rotate(45deg);
			}
		}
	}
	&__reset-filter {
		@include mt;
		// position: relative;
		position: sticky;
		// position: absolute;
		background-color: #fff;
		z-index: 100;
		right: 0;

		bottom: 0;
		left: 0;
		padding: rem(16) 0;
		background-color: transparent;
		border: none;
		width: 100%;
		text-align: left;
		display: none;
		@include media-breakpoint-up(lg) {
			display: block;
		}
		&:before {
			content: '';
			position: absolute;	
			display: block;
			width: 100vw;
			height: 100%;
			// background-color: 
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			background-color: #fff;
			z-index: -1;
			top: 0;
			right: rem(-30);
		}
		.icon {
			fill: none;
			stroke: currentColor;
			stroke-width: 2px;
			font-size: rem(24);
			margin-right: rem(24);
		}
		span {
			font-weight: 600;
			vertical-align: middle;
		}
		&:hover {
			color: $yellow;
		}
	}
	.catalog-item {
		&__img-wrap {
			margin-bottom: rem(14);
		}
		p {
			margin-bottom: 0;
		}
		&__footer {
			.row {
				--bs-gutter-y: 4px;
			}
		}
		&__price {
			font-size: rem(23);
		}
		&__btn--like {
			top: rem(15);
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sGoods