mixin brands(i)
	+e.row-brands.row.justify-content-center.justify-content-lg-start
		-for(i=1; i<23; i++)
			+e.col--js.col-auto
				+e.A.brands-link(href="#") 
					+pic(`brands-${i}.png`, 'bg', 0)
	.col-12.text-center
		+e.BUTTON.brands-btn.text-center
				+e.SPAN.btn-text Все бренды
				+icon('chevron-down')

mixin brands2()
	+e.row-brands.row
		mixin brand-link2(title, text)
			+e.col--js.col-auto
				+e.A.brands-link2(href="#") 
					h5!= title
					p!= text
		+brand-link2('Inverno', 'Коллекция')
		+brand-link2('Primavera', 'Коллекция')
		+brand-link2('Dream Again Michalsky', 'Коллекция')
		+brand-link2('Boho Bena ', 'Коллекция')
		+brand-link2('California', 'Коллекция')
		+brand-link2('Ambasador', 'Коллекция')
		+brand-link2('Inverno', 'Коллекция')
		+brand-link2('Primavera', 'Коллекция')
		+brand-link2('Dream Again Michalsky', 'Коллекция')
		+brand-link2('Boho Bena ', 'Коллекция')
		+brand-link2('California', 'Коллекция')
		+brand-link2('Ambasador', 'Коллекция')
		+brand-link2('Inverno', 'Коллекция')
		+brand-link2('Primavera', 'Коллекция')
		+brand-link2('Dream Again Michalsky', 'Коллекция')
		+brand-link2('Boho Bena ', 'Коллекция')
		+brand-link2('California', 'Коллекция')
		+brand-link2('Ambasador', 'Коллекция')
		+brand-link2('Inverno', 'Коллекция')
		+brand-link2('Primavera', 'Коллекция')
		+brand-link2('Dream Again Michalsky', 'Коллекция')
		+brand-link2('Boho Bena ', 'Коллекция')
		+brand-link2('California', 'Коллекция')
		+brand-link2('Ambasador', 'Коллекция')
	.col-12.text-center
		+e.BUTTON.brands-btn.text-center
			+e.SPAN.btn-text Все бренды
			+icon('chevron-down')
	//- .col-12.text-center
	//- 	+e.BUTTON.brands-btn.text-center
	//- 			+e.SPAN.btn-text Все бренды
	//- 			+icon('chevron-down')

mixin sGoods(data)
	// start sGoods
	+b.SECTION.sGoods.section#sGoods&attributes(attributes)
		.container
			+e.row.row
				+e.col-filter.col-lg
					.sticky-filter
						+sFilter()
						+e.BUTTON.reset-filter
							+icon('undo')
							span Очистить фильтр
				+e.col-catalog.col-lg
					block
					//- +brands()
					//- +e.row-brands.row
					//- 	-for(i=1; i<23; i++)
					//- 		+e.col--js.col-auto
					//- 			+e.A.brands-link(href="#") 
					//- 				+pic(`brands-${i}.png`, 'bg', 0)
					//- .col-12
					//- 	+e.BUTTON.brands-btn.text-center
					//- 			+e.SPAN.btn-text Все бренды
					//- 			+icon('chevron-down')
					+e.sort-row.row.justify-content-between
						.col-12.col-sm-auto.order-sm-last
							+e.sorting
								+form-wrap()
									+input('По популярности', 'select', '')
						.col-auto
							+e.good-num
								span Товаров
								span 3560
					+e.row-filter.row
						.col-auto
							+e.filterOption
								span В наличии
								button
						.col-auto
							+e.filterOption
								span Гостинная
								button
						.col-auto
							+e.filterOption
								span Флизелин
								button
						.col-auto
							+e.filterOption
								span Италия
								button
					.row
						.col-sm-6
							+catalog-item(1, '1838 Wallcoverings Willow Stone Blue Silver', 'Код товара: R458702556DF', '2 800 ₽', '', '', 'true', 'true', 'true', 'true')
						.col-sm-6
							+catalog-item(2, '1838 Wallcoverings Willow Stone Blue Silver', 'Код товара: R458702556DF', '4 590 ₽', '', 'true', '', 'true', 'true')
						.col-sm-6
							+catalog-item(3, '1838 Wallcoverings Willow Stone Blue Silver', 'Код товара: R458702556DF', '6 900 ₽', 'addblock', '', 'true', 'true')
						.col-sm-6
							+catalog-item(4, '1838 Wallcoverings Willow Stone Blue Silver', 'Код товара: R458702556DF', '3 450 ₽', '', 'true').active
						.col-sm-6
							+catalog-item(5, '1838 Wallcoverings Willow Stone Blue Silver', 'Код товара: R458702556DF', '2 780 ₽', '', 'true')
						.col-sm-6
							+catalog-item(6, '1838 Wallcoverings Willow Stone Blue Silver', 'Код товара: R458702556DF', '5 690 ₽', '', 'true')
					button.btn.btn-outline-secondary.w-100 Показать еще
		+e.btn-bottom.d-lg-none
			+icon('filter') 
			| Фильтры
	// end sGoods