mixin sForDisignerHead(data)
	// start sForDisignerHead
	+b.SECTION.sForDisignerHead.section#sForDisignerHead&attributes(attributes)
		+e.container.container.bg-wrap
			+b.section-title
				h2 Уверенная работа с&nbsp;профессионалами
				p Golden Decor усилит Ваши профессиональные компетенции. Внимательные консультанты, большой ассортимент, специальные предложения и система лояльности — составляющие успеха партнерства.
				a(href="#modal-application").btn.btn-primary.link-modal-custom-js Получить карту дизайнера
			+pic('sForDisignerHead-bg.png')
	// end sForDisignerHead