extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
//- include ../blocks/headerBlock/_headerBlock.pug
//- include ../blocks/sForm/_sForm.pug
//- include ../blocks/sContent/_sContent.pug
 
//- include ../blocks/sContact/_sContact.pug
 
include ../blocks/footer/_footer.pug
//- include ../blocks/sCategeries/_sCategeries.pug
include ../blocks/sCatalog/_sCatalog.pug
//- include ../blocks/sAbout/_sAbout.pug
//- include ../blocks/sBlog/_sBlog.pug
include ../blocks/sFilter/_sFilter.pug
include ../blocks/sGoods/_sGoods.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= 'added-product.jpg'

block title
	- let  title= inner.head.titleCatalog
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	.header.header--js
		+topLine
		+top-nav()
	//- +headerBlock
	+page-head({
		title
	})
		+breadcrumb('Главная', 'Обои', `Виниловые обои`)
	+sGoods()
		+brands()
	+footer()
	+addProduct()



