extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
//- include ../blocks/headerBlock/_headerBlock.pug
//- include ../blocks/sForm/_sForm.pug
//- include ../blocks/sContent/_sContent.pug
 
//- include ../blocks/sContact/_sContact.pug
 
include ../blocks/footer/_footer.pug
//- include ../blocks/sCategeries/_sCategeries.pug
include ../blocks/sCatalog/_sCatalog.pug
//- include ../blocks/sAbout/_sAbout.pug
//- include ../blocks/sBlog/_sBlog.pug
include ../blocks/sBuy/_sBuy.pug
include ../blocks/sCardProduct/_sCardProduct.pug
include ../blocks/sProductSlider/_sProductSlider.pug
include ../blocks/sCalculator/_sCalculator.pug
include ../blocks/sCalculationType/_sCalculationType.pug
block variables
	- let  mainPage= 'main-page' 
	- let  bg= '04-card-product.jpg'

block title
	- let  title= inner.head.titleCatalog
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	.header.header--js
		+topLine
		+top-nav()
	//- +headerBlock
	.tabs-main
		.tabs-main__content#card
			+page-head({
				title: '1838 Wallcoverings Willow Stone Blue Silver',
				back: 'В каталог',
				favorite: true
			}).--product
				+breadcrumb('Главная', 'Обои', `Виниловые обои`)
			+b.sticky-wrap
				+sCardProduct()
				+checkout('Купить', '', '', 'info').--product
		.tabs-main__content#calc.active
			+mobileInfo()
			+page-head({
				title,
				back: "В карточку товара",
				calculator: true,
				url:'#card'
			})
				+breadcrumb('Главная', 'Корзина')
			+sCalculator
				+sCalculationType().active
				+sCalculationType2()
				+sCalculationType3()
				+sCalculationType4()
			+checkout2('Далее', 'На шаг назад' ,'','','d-none').active.active2
	+footer()
      



