extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
//- include ../blocks/headerBlock/_headerBlock.pug
//- include ../blocks/sForm/_sForm.pug
//- include ../blocks/sContent/_sContent.pug
 
//- include ../blocks/sContact/_sContact.pug
 
include ../blocks/footer/_footer.pug
//- include ../blocks/sCategeries/_sCategeries.pug
//- include ../blocks/sCatalog/_sCatalog.pug
//- include ../blocks/sAbout/_sAbout.pug
//- include ../blocks/sBlog/_sBlog.pug
//- include ../blocks/sAboutBlock/_sAboutBlock.pug
//- include ../blocks/sStores/_sStores.pug
//- include ../blocks/sOurEmployees/_sOurEmployees.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sOurStores/_sOurStores.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= '10-contacts.jpg'

block title
	- let  title= inner.head.titleContacts
	title= title
block pagecontent
	//- +mob-mnu()
	.header.header--js
		+topLine
		+top-nav()
	//- +headerBlock
	+page-head({
		title
	})
		+breadcrumb('Главная', 'Контакты')
	+sContact()
	//- script.
	//- 	ymaps.ready(init);
	//- 	function init() {
	//- 		var center = [55.672428, 37.582709];
	//- 		var myMap1 = new ymaps.Map('map', {
	//- 			center: center,
	//- 			zoom: 10,
	//- 			controls: ['zoomControl']
	//- 		});
	//- 		var myPlacemark1 = new ymaps.Placemark(center, {
	//- 			// Свойства.
	//- 			// Содержимое иконки, балуна и хинта.
	//- 			hintContent: 'Магазин Golden Decor в ТЦ Экспострой',
	//- 			balloonContent: 'г. Москва, Нахимовский проспект, дом 24'
	//- 		});
	//- 		myMap1.geoObjects.add(myPlacemark1);
	//- 		myMap1.behaviors.disable('scrollZoom');
	//- 		//на мобильных устройствах... (проверяем по userAgent браузера)
	//- 		if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
	//- 			// ... отключаем перетаскивание карты
	//- 			myMap1.behaviors.disable('drag');
	//- 		}
	//- 	}
	+sOurStores()
	+footer()
block map
	+mapBlock()
