extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
//- include ../blocks/sForm/_sForm.pug
//- include ../blocks/sContent/_sContent.pug
 
//- include ../blocks/sContact/_sContact.pug
 
include ../blocks/footer/_footer.pug
include ../blocks/sCategeries/_sCategeries.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sBlog/_sBlog.pug
include ../blocks/sTextileBenefits/_sTextileBenefits.pug
include ../blocks/sDesigServices/_sDesigServices.pug
include ../blocks/sTextileProjects/_sTextileProjects.pug

block variables
	- let  mainPage= 'textile' 
	- let  bg= 'main.jpg'

block title
	- let  title= 'textile'
	title= title
block pagecontent
	//- +mob-mnu()
	
	+textileMenu
	.main-content
		.header.header--js
			+top-nav-textile()
		+headerBlockTextile
		.sCatalogTextile
			+sCatalogCurtains(id='curtain')
			+sCatalogBedspreads(id='bedspreads')
			+sCatalogCloth(id='cloth')
			+sCatalogBlackout(id='blind')
			+sCatalogCornices(id='cornices')
		+sTextileBenefits
		+sTextileProjects
		+sDesigServices
		+sAbout.--textile
		+footerTextile()
		+b.fixed-basket-btn(href="#")
			+e.icon-wrap
				+icon("trolley-cart")
			+e.count 1
			+e.price 19 990 ₽
block map
	script.
		function addProd() {
			let basketBtn = document.querySelector(".fixed-basket-btn")
			function addpr() {
				basketBtn.classList.add("add-prod") 
				setTimeout(() => { 
					basketBtn.classList.remove("add-prod")
				}, 1000);

			}
			if(basketBtn.classList.contains("show")) {
				addpr()
			}
			else{ 
				basketBtn.classList.add("show")
				setTimeout(() => {
					addpr()
					
				}, 200);
			}
		}

		$(document).on("click", ".catalog-item__btn--add",  function(){ addProd()})


