mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		.container
			+e.wrap
				p Дизайнерские обои&nbsp;&mdash; это продукт творческой мысли, не&nbsp;имеющий аналогов на&nbsp;рынке. В&nbsp;отличие от&nbsp;типовых коллекций он&nbsp;учитывает предпочтения покупателя относительно цвета, фактуры, орнамента, материала. Тем, кто стремится красиво и&nbsp;нестандартно оформить жилье, рекомендуется отказаться от&nbsp;продукции, серийно выпускаемой на&nbsp;фабриках и&nbsp;заводах, в&nbsp;пользу покупки элитных обоев.
				+pic('sContent-bg.jpg', 'bg', 0)
				p Премиальный продукт изготавливают из&nbsp;качественного материала. Его отличают высокие технико-эксплуатационные свойства. В&nbsp;производстве элитных обоев применяется натуральное сырье и&nbsp;красящие составы. На&nbsp;замену тонкой бумаге приходят бамбук, шелк, текстиль, кожа и&nbsp;другие основы, использующиеся для производства уникального стенового покрытия.
				p При производстве дизайнерских обоев выдерживаются стандарты и&nbsp;нормы ГОСТа. Уделяется внимание каждой детали&nbsp;&mdash; от&nbsp;состава материала до&nbsp;оттенка цвета стенового покрытия. В&nbsp;разработке премиальной продукции участвуют ведущие бюро дизайна. Над проектом работает не&nbsp;пара-тройка специалистов&nbsp;&mdash; универсалов, а&nbsp;десятки дизайнеров, имеющих специализированные знания.
				p Нанесённый на&nbsp;дизайнерские обои рисунок не&nbsp;применяется в&nbsp;масштабной штамповке. Стеновое покрытие делается на&nbsp;заказ или выбирается из&nbsp;авторской коллекции производителя. В&nbsp;узких кругах высоким спросом пользуется продукция брендов Rasch Gebr GmbH &amp;&nbsp;KG, BN&nbsp;International, Grandeco. Фундаментально новые решения в&nbsp;сфере декорирования стен предлагают Momenti, Andrew Martin, NLXL, De&nbsp;Gournay, Fromental.
		+e.blog-wrap
			.container
				+e.wrap
					h2= sArticle.title
					.row
						+e.slider--js.swiper
							.swiper-wrapper
								each item in sBlog.items
									+e.slide.swiper-slide
										+blog-item-2(item.i,item.t,item.p, item.text)
	// end sContent