mixin card-item(i ,title, ...items)
	a(href="#")
		+e.item.bg-wrap&attributes(attributes)
			+pic(`sSubcategories-bg-${i}.jpg`, 'bg', 0).picture-bg
			h6!= title
			each item in items 
				p!= item

mixin sSubcategories(data)
	// start sSubcategories
	+b.SECTION.sSubcategories.section#sSubcategories&attributes(attributes)
		.container
			.row
				+e.col.col
					+card-item(1, 'Текстильные <br> обои', '2 500 товаров', 'от 1 960 ₽')
				+e.col.col
					+card-item(2, 'Обои для <br> спальни', '2 500 товаров', 'от 1 960 ₽')
				+e.col.col
					+card-item(3, 'Виниловые <br> обои', '2 500 товаров', 'от 1 960 ₽')
				+e.col.col
					+card-item(4, 'Обои для <br> кухни', '2 500 товаров', 'от 1 960 ₽')
				+e.col.col
					+card-item(5, 'Обои для <br> детской', '2 500 товаров', 'от 1 960 ₽')
				+e.col.col
					+card-item(6, 'Панно / Фотообои', '2 500 товаров', 'от 1 960 ₽')
				+e.col.col
					+card-item(7, 'Флезилиновые <br> обои', '2 500 товаров', 'от 1 960 ₽')
				+e.col.col
					+card-item(8, 'Обои под <br> покраску', '2 500 товаров', 'от 1 960 ₽')
				+e.col.col
					+card-item(9, 'Бумажные <br> обои', '2 500 товаров', 'от 1 960 ₽')
	// end sSubcategories