mixin sTextileBenefits(data)
	// start sTextileBenefits
	+b.SECTION.sTextileBenefits.section#sTextileBenefits&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 6 причин заказать текстильный декор у нас
			+e.row.row
				mixin textileBenefit(title,descr)
					.col-12.col-sm-6.col-lg-4
						+e.item
							+e.title!= title
							+e.descr!= descr
				+textileBenefit('Бесценный опыт и&nbsp;высокое качество','Мы&nbsp;профессионально работаем с&nbsp;текстилем с&nbsp;2006 года и&nbsp;за&nbsp;время существования компании нашими дизайнерами, швеями, монтажниками реализованы сотни проектов высокой сложности.')
				+textileBenefit('Отличная организация и&nbsp;гибкость','Мы&nbsp;предлагаем выгодные и&nbsp;подходящие условия сотрудничества и&nbsp;стараемся организовывать все процессы наиболее комфортным для клиента образом.')
				+textileBenefit('Широкий выбор тканей','Наши клиенты говорят, что у&nbsp;нас самый большой выбор тканей в&nbsp;Москве и&nbsp;области. Мы&nbsp;знаем, что в&nbsp;наших студиях имеются ткани разной ценовой категории со&nbsp;всех уголков мира.')
				+textileBenefit('Оригинальность','Мы&nbsp;не&nbsp;повторяемся! Сшитые нашими специалистами шторы на&nbsp;заказ&nbsp;&mdash; это своего рода уникальное произведение искусства, которое можно будет встретить только у&nbsp;Вас дома.')
				+textileBenefit('Дизайн','Творческие таланты наших дизайнеров помогут найти лучшее решение для создания интерьера вашей мечты и&nbsp;воплотить в&nbsp;жизнь ваше видение прекрасного.')
				+textileBenefit('Собственный швейных цех','Качественный пошив&nbsp;&mdash; залог эстетичного внешнего вида и&nbsp;долговечности изделий&nbsp;&mdash; происходит на&nbsp;нашем собственном производстве мастерами с&nbsp;большими знаниями.')

	// end sTextileBenefits