mixin sDesigServices(data)
	// start sDesigServices
	+b.SECTION.sDesigServices.section#sDesigServices&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Услуги дизайнера
			.section-subtitle 
				p В&nbsp;&laquo;Golden Decor&raquo; талантливые и&nbsp;отзывчивые дизайнеры помогут оформить окно в&nbsp;любом стиле и&nbsp;цветовом решении от&nbsp;эконом до&nbsp;VIP-класса. Услуги дизайнера нашим клиентам предоставляются бесплатно!
			+e.row.row
				+e.col.col
					+e.img-wrap
						+img('img/svg/designer.svg')
					+e.text Выезд специалиста с&nbsp;каталогами для подбора тканей и&nbsp;карнизов
				+e.col.col
					+e.img-wrap
						+img('img/svg/project.svg')
					+e.text Составление индивидуального дизайн-проекта с&nbsp;учетом пожеланий клиента и&nbsp;особенностей помещения
				+e.col.col
					+e.img-wrap
						+img('img/svg/advice.svg')
					+e.text Консультирование клиента по&nbsp;всем вопросам выбора тканей, аксессуаров, карнизов
				+e.col.col
					+e.img-wrap
						+img('img/svg/room.svg')
					+e.text Рекомендации по&nbsp;комплексному оформлению помещения
				+e.col.col
					+e.img-wrap
						+img('img/svg/metering-color.svg')
					+e.text Проведение всех необходимых замеров
			+e.request
				p Дизайнер предложит разнообразные варианты оформления, одготовленные с&nbsp;учетом Ваших пожеланий &mdash; Вам останется выбрать из&nbsp;них самый лучший!
				+e.btn.btn.link-modal-custom-js(href="#modal-call")
					+icon('metering')
					| Оставить заявку на замер
	// end sDesigServices