mixin sForBusinessAdvantages(data)
	// start sForBusinessAdvantages
	+b.SECTION.sForBusinessAdvantages.section#sForBusinessAdvantages&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Выгодные условия для профессиональных клиентов и&nbsp;юридических лиц
				p Вы&nbsp;профессионально занимаетесь строительством или дизайном? Работаете бригадиром или прорабом? Управляете собственной строительной компанией? У&nbsp;нас есть для Вас специальное предложение
			+e.list-wrap
				ul
					li
						+e.icon-wrap
							+icon('done2')
						| Политика низких цен каждый день<br>распространяется и&nbsp;на&nbsp;оптовые покупки для профессионалов
					li
						+e.icon-wrap
							+icon('done2')
						| Персональный менеджер
					li
						+e.icon-wrap
							+icon('done2')
						| Сохранение истории всех ваших покупок в&nbsp;Личном кабинете
					li
						+e.icon-wrap
							+icon('done2')
						| Возможность заказа и&nbsp;резервирования товаров по&nbsp;телефону. Вы&nbsp;можете позвонить&nbsp;&mdash; и&nbsp;мы&nbsp;подготовим заказ к&nbsp;выдаче
					li
						+e.icon-wrap
							+icon('done2')
						| Консультации по&nbsp;товарам, помощь в&nbsp;выборе
					li
						+e.icon-wrap
							+icon('done2')
						| Возможность заказа любых товаров профессионального назначения, не&nbsp;представленных в&nbsp;магазине
			+e.btn.btn.btn-primary(hgref="#") Оставить заявку
	// end sForBusinessAdvantages