// start .sCatalog
.sCatalog {
		// --sPT: ;
		// --sPB: ;
		--sTPB: 22px;
		overflow-x: hidden;
	.section-title{
		.row{
			--bs-gutter-x: #{rem(32px)};
		}
		.h2{
			margin-bottom: rem(32);
		}
		@include media-breakpoint-down(md) {
			.link-more{
				display: inline-block;
				margin-top: em(8);
			}
		}
		.row{
			@include media-breakpoint-up(md) {

				align-items: center;
			}
		}
		.text-secondary{

			&:hover,
			&.active{
				color: $primary !important;
			}
		}
	}
		&__slider{
			overflow: visible;
		}
		&__slide{
			width: 290px;
		}

		.swiper-button-hand{
			top: rem(110);
			margin: 0;
			transform: translateY(-50%);
		}
		&__menu-wrap{
			margin-bottom: rem(20);
			
			
		
		}
		

		.menu{
			display: flex;
			// @include roww(24px);
			&-item{
				width: auto;
			}
			a{
				padding-left: 0;
				padding-right: 0;
				padding-top: rem(6);
				padding-bottom: rem(6);
				padding-left: 0;
				padding-right: 0;
				position: relative;
				
				&::before{
					content: '';
					position: absolute;
					top: 0px;
					left: 0;
					width: 100%;
					height: 3px;
					background-color: currentColor;
					transform-origin: left;
					transform: scaleX(var(--show, 0));
					@include mt;
				}
				&.active{
					font-weight: 600;
					
				}
				&:hover,
				&.active{
					--show: 1;
					color: $primary;
				}
			}
		}
	&--textile {
		padding-top: rem(50);
		.menu a:before {
			background-color: $warning;
		}
		.section-title__title {
			@include media-breakpoint-down(md) {
				margin-bottom: 10px !important;
				font-size: 18px;
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sCatalog

.catalog-item{
	position: relative;
	&__btn{
		width: rem(48);
		height: rem(48);
		@extend .btn;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		// border: none;
		border-radius: 50%;
		z-index: 5;
		.icon{
			font-size: rem(24);
		}
		&--like{
			@extend .btn-white;
			// color: $primary;
			position: absolute;
			top: rem(12);
			right: rem(16);
		}
		.icon-favorite {
			fill: none;
			stroke: currentColor;
			stroke-width: 2px
		}
		&--add{
			@extend .btn-primary;
			position: relative;
			&::before,
			&::after{
				content: '';
				@include a-cent;
				width: rem(14);
				height: 2px;
				border-radius: 10px;
				background-color: currentColor;
			}
			&::after{
				transform: rotate(90deg);
			}
		}
	}
	&__img-wrap{
		@include block(290, 220);
		margin-bottom: rem(8);
		position: relative;
		display: block;
		picture {
			position: absolute;
			top: 0;
			z-index: -1;
			align-items: center;
			bottom: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			right: 0;
			left: 0;
			img {
				max-width: 100%;
				min-height: 100%;
			}
		}
	}
	&__title{
		font-weight: 500;
		margin-bottom: rem(4);
	}
	p{
		font-size: rem(14);
		opacity: 0.5;
	}
	&__footer{
		margin-top: rem(-15);
	}
	.row{
		align-items: flex-end;
		
	}
	&__price{
		font-size: rem(20);
		font-weight: 600;
	}
	&__have-in-stock {
		display: flex;
		align-items: center;
		position: absolute;
		top: rem(16);
		left: rem(16);
		background-color: #05141F;
		opacity: 0.8;
		padding: rem(2) rem(7);
		span {
			font-size: rem(14);
			color: $white;
			// padding: rem(4) rem(12);
			margin-left: rem(6);
		}
		.icon-Lock {
			color: $yellow;
			font-size: rem(16);
		}
	}
	&__have-icon {
		color: $yellow;
		border: 1px solid #e8a200;
    border-radius: 50%;
		width: 16px;
		height: 16px;
		display: flex;
		justify-content: center;
		align-items: center;
		.icon {
			&-done {
				font-size: rem(6);
			}
		}
	}
	&__col-price {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 0 8px;
	}

	&__fullPrice {
		// margin-left: 8px;
		text-decoration-line: line-through;
		color: $secondary;
	}
}


.link-more{
	.icon{
		font-size: rem(24);
		position: relative;
		// top: re;
	}
}

.grid-catalog {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px 32px;
	grid-auto-flow: dense;
	margin-bottom: rem(50);
	@include media-breakpoint-down(lg) {
		grid-template-columns: repeat(3, 1fr);
	}
	@include media-breakpoint-down(md) {
		grid-template-columns: repeat(2, 1fr);
	}
	@include media-breakpoint-down(sm) {
		grid-template-columns: 1fr;
	}
	.catalog-item--big {
		@include media-breakpoint-up(sm) {
			grid-row: 2 span;
			grid-column: 2 span;
		}
		.catalog-item__img-wrap  {
			@include block(584,548);
		}
	}
	.catalog-item__img-wrap img {
		width: 100%;
	}
}

.feedback-call {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: rem(32);
	background-color: #F8F8F8;
	background-image: url('../img/svg/metering.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 67% 43%;
	@include media-breakpoint-down(sm) {
		min-height: 300px;
	}
	&:hover {
			color: $body-color;
		.icon {
			color: $warning;
		}
	}
	&__title {
		font-weight: 500;
		font-size: rem(28);
		line-height: 114%;
		letter-spacing: -0.5px;
		@include mt;
	}
	&__link {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-weight: 500;
		font-size: rem(20);
		line-height:1;
		letter-spacing: -0.5px;
		@include mt;
		.icon {
			width: 25px;
			@include mt;
		}
	}
}

.feedback-call-vert {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: rem(32);
	background-color: #F8F8F8;
	grid-row: 1 span;
	grid-column: 1 span;
	@include media-breakpoint-up(sm) {
		grid-row: 2 span;
	}
	@include media-breakpoint-up(md) {
		grid-row: 2 span;
		grid-column: 2 span;
	}
	@include media-breakpoint-up(xl) {
		grid-row: 2 span;
		grid-column: 1 span;
	}
	img {
		width: 60px;
		height: 45px;
		margin-bottom: 27px;
	}
	.feedback-call__title {
		margin-bottom: 20px;
	}
	&__descr {
		margin-bottom: 20px;
		@include media-breakpoint-up(sm) {
			margin-bottom: auto;
		}
	}
	&__btn {
		@extend .btn, .btn-primary;
		padding:rem(20);
	}
}

.full-catalog-link {
	grid-row: 1 span;
	grid-column: 1 span;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 100%;
	padding: rem(32);
	min-height: 250px;
	background-color: #F8F8F8;
	z-index: 1;

	.feedback-call__title {
		@include media-breakpoint-down(xl) {
			font-size: rem(20);
		}
	}
	&__link {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-weight: 500;
		font-size: rem(20);
		line-height:1;
		letter-spacing: -0.5px;
		@include mt;
		z-index: 10;
		.icon {
			@include mt;
				width: 25px;
			}
		&:hover {
		color: $body-color;
		.icon {
				color: $warning;
			}
		}
	}
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		width: 65%;
		z-index: -1;
	}
}