mixin sFilter(data)
	// start sFilter
	+b.sFilter&attributes(attributes)
		//- .dd-group-js
		//- 	.dd-head-js.d-flex.d-lg-none.justify-content-between
		//- 		+icon('filter') 
		//- 		| Фильтры
		//- 	+e.wrap.dd-content-js
		//- 		+e.title
		//- 			h4 Фильтры
		//- 		+e.body
		//- 			+ddGroup()
		//- 				.row
		//- 					.col-md-6.col-lg-12
		//- 						+ddGroupItem('Навесы').active 
		//- 							+e.wrap
		//- 								+in-c("checkbox", 'Для машин')
		//- 								+in-c("checkbox", 'К дому')(checked) 
		//- 								+in-c("checkbox", 'Для бассейна')
		//- 								+in-c("checkbox", 'Кованые')(checked)
		//- 								+in-c("checkbox", 'Другие типы навесов')
	// end sFilter