mixin sFilter(data)
	// start sFilter
	+b.sFilter&attributes(attributes) 
		+e.btn.d-lg-none
			+icon('filter') 
			| Фильтры
		+e.wrap
			+e.title.d-none.d-lg-block
				h4 Фильтры
			+e.body
				+e.filterHead
					+e.BUTTON.filterCloseBtn
					h5 Фильтры
					a(href="#") Сбросить
				+ddGroup()
					+e.wraper
						+ddGroupItem('Тип')
							+in-c("checkbox", 'Бесшовные')
							+in-c("checkbox", 'Флезелиновые')
							+in-c("checkbox", 'Виниловые')(checked)
							+in-c("checkbox", 'Декоративный элемент')
							+in-c("checkbox", 'Бордюр')
							+in-c("checkbox", 'Панно / Фотообои')
							+in-c("checkbox", 'Под покраску')
						+ddGroupItem('Тип помещения')
							+in-c("checkbox", 'Кухня')
							+in-c("checkbox", 'Коридор')
							+in-c("checkbox", 'Холл')
							+in-c("checkbox", 'Гостинная')(checked)
							+in-c("checkbox", 'Спальня')
							+in-c("checkbox", 'Кабинет')
						+ddGroupItem('Цвет') 
							+e.color-wrap
								+in-c("checkbox", '')(checked, style="--checkColor: #9C9C9C")
								+in-c("checkbox", '')(checked, style="--checkColor: #C3E6FE")
								+in-c("checkbox", '')(checked, style="--checkColor: #C0987E")
								+in-c("checkbox", '')(style="--checkColor: #04A1E2")
								+in-c("checkbox", '')(style="--checkColor: #9D1A1A")
								+in-c("checkbox", '')(style="--checkColor: #39814F")
								+in-c("checkbox", '')(style="--checkColor: #924900")
								+in-c("checkbox", '')(style="--checkColor: #FFFFFF")
								+in-c("checkbox", '')(style="--checkColor: #F0CA00")
								+in-c("checkbox", '')(style="--checkColor: #FFFEE7")
								+in-c("checkbox", '')(style="--checkColor: #F38B48")
								+in-c("checkbox", '')(style="--checkColor: #6B3CA6")
								+in-c("checkbox", '')(style="--checkColor: #D956B4")
								+in-c("checkbox", '')(style="--checkColor: #424242")
						+ddGroupItem('Основа обоев')
							+in-c("checkbox", 'Бумага')
							+in-c("checkbox", 'Флизелин')(checked)
						+ddGroupItem('Цена')
							.range-slider
								input.js-range-slider(type='text' value='')
							.extra-controls
								label
									span от
									input.js-input-from(type='text' value='0')
									span ₽
								label
									span до
									input.js-input-to(type='text' value='0')
									span ₽
						+ddGroupItem('Страна')
							+in-c("checkbox", 'Бельгия')
							+in-c("checkbox", 'Италия')(checked)
						+ddGroupItem('Бренд') 
							+in-c("checkbox", '4Seasons')
							+in-c("checkbox", '1838 Wallcoverings')(checked)
				+e.BUTTON.btn-showMore.btn.btn-primary Показать 325
		//- +e.btn-bottom.d-lg-none
		//- 	+icon('filter') 
		//- 	| Фильтры
	// end sFilter