mixin sPickup(data)
	// start sPickup
	+b.SECTION.sPickup.section#sPickup&attributes(attributes)
		h4 Способ доставки
		+deliveryOption()
		.tabs
				+b.section-title
					.row
						.col
							p Выберите магазин:
						.col-auto
								.tabs__caption
									.tabs__btn.active Списком
									.tabs__btn На карте
				.tabs__content
					+form-wrap
						+choiceOption('Магазин Golden Decor в ТК Каширский Двор', 'г. Москва, Каширское шоссе, дом 19, корпус 1', '09:00 — 21:00')(checked)
						+choiceOption('Магазин Golden Decor в ТЦ Экспострой', 'г. Москва, Нахимовский проспект, дом 24', '09:00 — 22:00')
						+choiceOption('Магазин Golden Decor в ТЦ Тройка', 'г. Москва, ул. Верхняя Красносельская 3А', '09:00 — 22:00')
					+form-wrap()
						+input('Ваш комментарий к заказу', 'textarea')
				.tabs__content.active
					+e.map
						+e.map-widget#map2
					+e.container
						+e.map-caption.container
					+form-wrap()
						+input('Ваш комментарий к заказу', 'textarea')
	// end sPickup