mixin sPaymentMethod(data)
	// start sPaymentMethod
	+b.sPaymentMethod&attributes(attributes)
		h4 Способ доставки
		+form-wrap
			.row
				.col-md-6
					+choiceOption('Онлайн на сайте*', 'МИР, Visa, MasterCard, Maestro, GooglePay, ApplePay')
				.col-md-6
					+choiceOption('Наличными', 'Курьеру / При самовывозе (только для Москвы и МО)')(checked)
				.col-md-6
					+choiceOption('Безналичным платежом', 'Для физических лиц и для организаций')
				.col-md-6
					+choiceOption('Банковской картой', 'Курьеру / При самовывозе (только для Москвы и МО)')
		+e.promocode
			+form-wrap()
				+input('Промокод', 'text', 'Промокод')
				+e.BUTTON.btn.btn-primary(type="submit"  ) Применить
		p *Для оплаты (ввода реквизитов Вашей карты) Вы&nbsp;будете перенаправлены на&nbsp;платёжный шлюз ПАО СБЕРБАНК. Соединение с&nbsp;платёжным шлюзом и&nbsp;передача информации осуществляется в&nbsp;защищённом режиме с&nbsp;использованием протокола шифрования SSL. В&nbsp;случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By&nbsp;Visa, MasterCard SecureCode, MIR Accept, J-Secure для проведения платежа также может потребоваться ввод специального пароля.
		p Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается ПАО СБЕРБАНК. Введённая информация не&nbsp;будет предоставлена третьим лицам за&nbsp;исключением случаев, предусмотренных законодательством РФ. Проведение платежей по&nbsp;банковским картам осуществляется в&nbsp;строгом соответствии с&nbsp;требованиями платёжных систем МИР, Visa Int., MasterCard Europe Sprl, JCB.
	// end sPaymentMethod