mixin sCart(addMore, promocode, extraOptions, reply)
	// start sCart
	+b.SECTION.sCart.section#sCart&attributes(attributes)
		.container
			.row
				+e.col-order.col-xl
					+e.wrap
						+e.order-info
							table
								thead
									th(colspan="2")
										h2 Ваш заказ
								tbody
									tr
										td Товары (4 шт)
										td 9 390 ₽
									tr
										td Доставка
										td 0 ₽
									tr
										td(colspan="2") Укажите адрес, чтобы узнать стоимость доставки
									tr
										td(colspan="2").input-line
											+input()
									if promocode
										+e.TR.promocode
											td Промокод
											td -390 ₽
								tfoot
									tr
										td(colspan="2")
											h5 Итого:
									tr
										td Сумма заказа
										td 9 390 ₽
						if reply
							+e.BUTTON.btn.btn.btn-outline-secondary.w-100 Повторить заказ
						if extraOptions
							+extraOption('1', 'Бесплатная доставка при заказе от 15 000 ₽')
							+extraOption('2', 'Закажите поклейку обоев от 250 ₽ / м2', 'icon')
				+e.col-basket.col-xl
					block
				if addMore
					+e.col-add-more.col-12 
						+sCatalog2('Добавьте к заказу')
	// end sCart