mixin sAboutBlock(data)
	// start sAboutBlock
	+b.sAboutBlock.section#sAboutBlock&attributes(attributes)
		+e.wrap
			.container
				+e.content
					.row
						.col-lg-5
							+pic("logo.png")
						.col-lg
							//- each item in catalog.items.new
							p!= sAboutBlock.main
				+b.video-wrap
					<iframe src="https://www.youtube.com/embed/L_LUpnjgPso" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				p!= sAboutBlock.text
				p!= sAboutBlock.text2
	// end sAboutBlock