mixin sAboutBlock(data)
	// start sAboutBlock
	+b.sAboutBlock.section#sAboutBlock&attributes(attributes)
		.container
			+e.content
				.row
					.col-lg
						+logo2()
					.col-lg
						p Основанная в&nbsp;1993&nbsp;г., компания Golden Decor является одним из&nbsp;лидеров на&nbsp;московском рынке по&nbsp;реализации отделочных материалов. Наш интернет магазин обоев предлагает широкий и&nbsp;уникальный ассортимент высококачественных декоративных материалов для оформления интерьера: эксклюзивные, дизайнерские настенные покрытия, интерьерные краски, лепной декор и&nbsp;свет от&nbsp;ведущих производителей мира.
			.row
				+b.video-wrap
					<iframe src="https://www.youtube.com/embed/L_LUpnjgPso" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			p Основанная в&nbsp;1993&nbsp;г., компания Golden Decor является одним из&nbsp;лидеров на&nbsp;московском рынке по&nbsp;реализации отделочных материалов. Наш интернет магазин обоев предлагает широкий и&nbsp;уникальный ассортимент высококачественных декоративных материалов для оформления интерьера: эксклюзивные, дизайнерские настенные покрытия, интерьерные краски, лепной декор и&nbsp;свет от&nbsp;ведущих производителей мира.
	// end sAboutBlock