

mixin mnu()
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		each link in categories
			li.menu-item(itemprop="item" ): a(href="#" itemprop="url" class=(link.active  ? "active": null))= link.name
			if link.subnav
				li.menu-item.menu-item-has-children
					a(href="#" itemprop="url") О нас
					ul.sub-menu
						each sublink in link.subnav
							li.menu-item(itemprop="item" ): a(href= sublink.url itemprop="url")= sublink.name

//- menu
mixin mnu2()
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		each link in nav
			li.menu-item(itemprop="item" ): a(href="#" itemprop="url")= link.name

//- menu

mixin mnu3()
	+b.menu-slider--js.swiper
		ul.menu.swiper-wrapper(itemscope itemtype="http://schema.org/SiteNavigationElement")
			each link in categories
				li.menu-item.swiper-slide(itemprop="item" ): a(href="#" itemprop="url" class=(link.active  ? "active": null))= link.name
//- menu

mixin mnu4()
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		each link in categories2
			li.menu-item(itemprop="item" ): a(href="#" itemprop="url" )= link
//- menu

mixin mnu5()
	+b.menu-slider--js.swiper
		ul.menu.swiper-wrapper(itemscope itemtype="http://schema.org/SiteNavigationElement")
			each link in categories3
				li.menu-item.swiper-slide(itemprop="item" ): a(href="#" itemprop="url" class=(link.active  ? "active": null))= link.name
//- menu

mixin mnu6()
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		each link in sOurStores
			li.menu-item(itemprop="item" ): a(href="#" itemprop="url" class=(link.active  ? "active": null))= link.name
//- menu