

mixin mnuBody(json)
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		each link in json
			li.menu-item(itemprop="item" ): a(href="#" itemprop="url" class=(link.active  ? "active": null))= link.name
			
mixin mnu()
	+mnuBody(categories)
//- menu
mixin mnu2()
	+mnuBody(nav)

//- menu

mixin mnu3()
	+b.menu-slider--js.swiper
		ul.menu.swiper-wrapper(itemscope itemtype="http://schema.org/SiteNavigationElement")
			each link in categories
				li.menu-item.swiper-slide(itemprop="item" ): a(href="#" itemprop="url" class=(link.active  ? "active": null))= link.name
//- menu

mixin mnu4()
	+mnuBody(categories2)
//- menu