mixin sForBusiness(data)
	// start sForBusiness
	+b.SECTION.sForBusiness.section#sForBusiness&attributes(attributes)
		.container
			+e.wrap
				+e.row.row
					.col-lg
						h2 Профессиональным клиентам
						p Если вы&nbsp;профессиональный строитель, прораб, бригадир или архитектор, вам доступен заказ по&nbsp;телефону, сборка заказа, резерв товаров, персональный менеджер и&nbsp;другие преимущества.
						+e.btn.btn.btn-primary(href="#") Получить консультацию
					+e.img-col.col-lg
						+pic('forBusiness-img-1.png')
			+e.wrap
				+e.row.row
					.col-lg
						h2 Юридическим лицам
						p Если вы&nbsp;представляете строительную или управляющую компанию, предприятие или другую организацию, вам доступна оплата по&nbsp;безналичному расчёту, заказ по&nbsp;телефону, консультация по&nbsp;товарам и&nbsp;услугам, резерв товаров, документооборот и&nbsp;другие преимущества.
						+e.btn.btn.btn-primary(href="#") Получить консультацию
					+e.img-col.col-lg
						+pic('forBusiness-img-2.png')
			+e.wrap
				+e.row.row
					.col-lg
						h2 Для девелоперов и&nbsp;застройщиков
						p Вам доступны 850 профессиональных брендов, проектные цены, аренда инструмента Hilti и&nbsp;удобный B2B-портал.
						+e.btn.btn.btn-primary(href="#") Получить консультацию
					+e.img-col.col-lg
						+pic('forBusiness-img-3.png')
	// end sForBusiness